@model IEnumerable<DAL.Models.User>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Список пользователей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content ">
    <div class="upload-container">
        <a asp-action="Create">Добавить пользователя</a>

        <table class="table">
            <tr><th>Email</th><th></th></tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <a class="btn-custom" asp-action="Edit" asp-route-id="@user.Id" style="padding-left: 5px; padding-right: 5px;">Изменить</a>
                            <a class="btn-custom" asp-action="ChangePassword" asp-route-id="@user.Id" style="padding-left: 5px; padding-right: 5px;">Сменить пароль</a>
                            <a class="btn-custom" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id" style="padding-left: 5px; padding-right: 5px;">Права доступа</a>
                            <button type="submit" class="btn-delete-user" style="padding-left: 5px; padding-right: 5px;">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

